<html>
<head>
<meta content="width=device-width, initial-scale=1" name="viewport">
<link href="../Content/normalize.css" rel="stylesheet" type="text/css">
<link href="../Content/webflow.css" rel="stylesheet" type="text/css">
<link href="../Content/gmc-labs.webflow.css" rel="stylesheet" type="text/css">
<link href="../Content/webflowGrid.css" rel="stylesheet" type="text/css">

<style>
        .w-container {
          margin: 20px 15px;      
        }
</style>

<script type="text/javascript" src="../Scripts/jquery-3.3.1.min.js"></script>
<script>
$(document).ready(function(){
        // var today = new Date().toISOString().slice(0,10); //현재날짜 계산
        // $("#logDate").val(today); 
        // today = today.replace(/-/gi,'');
        var today = new Date();
        //today.setHours(today.getHours() + 9);
        var month = today.getMonth() +1;
        if(1<= month && month <= 9 ){
                month = "0"+ month;
        }

        var day = today.getDate();
        if(1<= day && day <= 9 ){
                day = "0"+ day;
        }
        
        today = today.getFullYear().toString() + "-" + month + "-" + day;
        $("#logDate").val(today);
        
        //today = today.replace(/-/gi,'');
        console.log("today : " + today);
        getLog(today);
        $("#logSearch").click(function(){
                console.log($("#logDate").val());
                var date = $("#logDate").val();
                //date = date.replace(/-/gi,'');
                console.log("today : " + today);
                $("#logTitle").html('');
                $("#logData").html('');
                getLog(date);
        });

        function getLog(date){
            $.ajax({
                type: "GET",
                url: "api/log?logDate="+date+"&site="+$("#site").val(),
                success: function(body) {
                    if(body){
                            if(body.existedLog === true){
                                    $("#logTitle").html(body.title);
                                    $("#logData").html(body.log);
                            }else{
                                    console.log(body.err);
                                    $("#logData").html(body.err);
                            }
                            
                    }
                },
                error : function(request, status, error) {
                    console.log("error : " + error);
                }
            });
        }
});
</script>
</head>
<body>
                <div>
                  <div class="w-container">
                    <div class="w-layout-grid grid-176">
                      <div id="w-node-6e9dc2024266-d357ade7" class="form-block-50 w-form">
                        <div id="w-node-123f96a69bd9-e556b9e2" class="html-embed-39 w-embed">
                        </div>
                      </div>
                    </div>
                  
                      일자 : <input type='date' id="logDate"/> <input type="button" id="logSearch" value="조회"/><br>
                    <div class="text-block-173"><strong></strong></div>
                    <!-- <div class="text-block-173"><strong>idax BTC 거래량생성 로그</strong></div> -->
                    <input type='hidden' id="site" value="<%=site%>">
                   
                    <div  id="logTitle"></div>
                    <div class="logDate" id="logData"></div>
                </div>
                </div>
</body>
</html>