<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GMC DefenceBot - 로그인</title>
    <link rel="stylesheet" type="text/css" href="../Content/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../Content/signin.css">
    <script type="text/javascript" src="../Scripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../Scripts/bootstrap.min.js"></script>
</head>
<body class="text-center">
    <div class="signin_wrap">
        <img src="/Images/signin_bg.png" class="signin_bg" alt="배경 이미지">
        <form class="form-signin" action='login' method="post">
            <h1 class="h3 mb-3 font-weight-normal">GMC DefenceBot</h1>
            <input type="text" id='username' name='username' class="form-control" placeholder="아이디" required autofocus>
            <input type="password" id='password' name='password'  class="form-control" placeholder="비밀번호" required>
            <!-- 시안용 -->
            <!-- <a href="/main" class="btn btn-lg btn-primary btn-block">로그인</a> -->
            <!-- // 시안용 끝 -->
            <!-- 이것이 진짜 -->
            <button type="submit" class="btn btn-lg btn-primary btn-block">로그인</button>
            <!-- // 이것이 진짜 끝 -->
            <p class="mt-5 mb-3 text-muted"><a href="changePW">비밀번호 변경하기</a></p>
        </form>
    </div>
</body>
</html>