<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="../Scripts/jquery-3.3.1.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script>
        function getHistory(date, site){
            $.ajax({
                type : "GET",
                url : 'api/orderHistory?logDate='+date+"&site="+site,
                success : function(json){
                    if(json){
                        console.log(json);
                        $("#mytable > tbody:last").empty();
                        for(i=0; i<json.length; i++){
                            var time1 = json[i].start_time.split("T")[1].split(":");
                            var time2 = json[i].end_time.split("T")[1].split(":")
                            $("#mytable > tbody:last").append("<tr>");
                                    $("#mytable > tbody:last").append("<td>" + (i+1) + "</td>"); 
                                    $("#mytable > tbody:last").append("<td>" + json[i].start_time.split("T")[0] + "</td>"); 
                                    $("#mytable > tbody:last").append("<td>" + time1[0] + ":" + time1[1] + ":" + time1[2].split(".")[0] + "</td>"); 
                                    $("#mytable > tbody:last").append("<td>" + time2[0] + ":" + time2[1] + ":" + time2[2].split(".")[0] + "</td>");
                                    $("#mytable > tbody:last").append("<td>" + json[i].totalAsset + "</td>");
                                    $("#mytable > tbody:last").append("<td>" + json[i].type + "</td>"); 
                                    $("#mytable > tbody:last").append("<td>" + json[i].side + "</td>");
                                    $("#mytable > tbody:last").append("<td>" + json[i].price + "</td>");  
                                    $("#mytable > tbody:last").append("<td>" + json[i].amount + "</td>"); 
                                    $("#mytable > tbody:last").append("<td>" + json[i].value + "</td>");                         
                                    $("#mytable > tbody:last").append("<td>" + json[i].benefitRate + "</td>");
                            $("#mytable > tbody:last").append("<tr>");
                        }
                    }
                },
                error : function(request, status, error){
                    console.log("error : "+error);
                }
            });
        }
        $(document).ready(function(){
            var today = new Date().toISOString().slice(0,10);
            var site = $("#site").val();
            $("#logDate").val(today);
            getHistory(today, site);

            $("#logSearch").click(function(){
                var date = $("#logDate").val();
                var site = $("#site").val();
                getHistory(date, site);
            });
        });
    </script>
    <title>Document</title>
</head>
<body>
    <input type="hidden" id="site" value='<%=site%>' >
    일자 : <input type='date' id="logDate"/> <input type="button" id="logSearch" value="조회"/><br>

    <h2><%=site%> 거래 내역</h2>
    <table id="mytable" border="1px">
        <tr>
            <td>no</td>
            <td>날짜</td>
            <td>시작시간</td>
            <td>종료시간</td>
            <td>자산</td>
            <td>구분</td>
            <td></td>
            <td>가격</td>
            <td>수량</td>
            <td>가치</td>
            <td>수익율</td>
        </tr>
        <tbody>
        </tbody>
    </table>
</body>
</html>