<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="../Scripts/jquery-3.3.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script>
        
        function getHistory(site){
            $.ajax({
                type : "GET",
                url : 'api/orderHistoryTotal?site='+site,
                success : function(json){
                    if(json){
                        console.log(json);
                        var totalBenefit =0;
                        var totalBenefitRate =0;
                        var start_asset =0;
                        var end_asset = 0;
                        $("#mytable > tbody:last").empty();

                        for(i=0; i<json.length; i++){
                            var time1 = json[i].start_time.split("T")[1].split(":");
                            var time2 = json[i].end_time.split("T")[1].split(":")
                            $("#mytable > tbody:last").append("<tr>");
                                    $("#mytable > tbody:last").append("<td align='right'>" + (i+1) + "</td>"); 
                                    $("#mytable > tbody:last").append("<td align='right'>" + json[i].start_time.split("T")[0] + "</td>"); 
                                    $("#mytable > tbody:last").append("<td align='right'>" + time1[0] + ":" + time1[1] + ":" + time1[2].split(".")[0] + "</td>"); 
                                    $("#mytable > tbody:last").append("<td align='right'>" + time2[0] + ":" + time2[1] + ":" + time2[2].split(".")[0] + "</td>");
                                    $("#mytable > tbody:last").append("<td align='right'>" + asset_comma(json[i].totalAsset, site) + "</td>");
                                    $("#mytable > tbody:last").append("<td align='center'>" + json[i].type + "</td>"); 
                                    $("#mytable > tbody:last").append("<td align='center'>" + json[i].side + "</td>");
                                    $("#mytable > tbody:last").append("<td align='center'>" + (json[i].div_cnt) + "</td>");  
                                    $("#mytable > tbody:last").append("<td align='right'>" + price_comma(json[i].start_price, site) + "</td>");  
                                    $("#mytable > tbody:last").append("<td align='right'>" + price_comma(json[i].end_price, site) + "</td>");  
                                    $("#mytable > tbody:last").append("<td align='right'>" + price_comma(json[i].price, site) + "</td>");  
                                    $("#mytable > tbody:last").append("<td align='right'>" + amount_comma(json[i].amount, site) + "</td>"); 
                                    $("#mytable > tbody:last").append("<td align='right'>" + value_comma(json[i].value, site) + "</td>");                         
                                    $("#mytable > tbody:last").append("<td align='right'>" + benefit_comma(json[i].benefitRate) + "</td>");
                            $("#mytable > tbody:last").append("<tr>");

                                    //totalBenefit += json[i].benefit;
                                    
                        }

                        if(json.length>=1){
                            start_asset = json[json.length-1].totalAsset;
                        }

                        if(json.length >= 2){
                            
                            end_asset = json[0].totalAsset;

                            totalBenefit = (end_asset - start_asset)
                            totalBenefitRate = ((totalBenefit/start_asset) *100);
                        }
                        $("#start_asset").html("");
                        $("#totalBenefit").html("");
                        $("#totalBenefitRate").html("");

                        $("#start_asset").html("시작 자산 : " + asset_comma(start_asset, site));
                        $("#totalBenefit").html("총수익 : " + asset_comma(totalBenefit, site));
                        $("#totalBenefitRate").html("총수익율 : " + benefit_comma(totalBenefitRate));

                    }
                },
                error : function(request, status, error){
                    console.log("error : "+error);
                }
            });
        }

        function asset_comma(num, site){
            var site_type='';
            if(site.indexOf("bitmex") !== -1){
                site_type='bitmex';
            }else{
                site_type = site;
            }
 
            var coin = Number(num);
            if(site_type === 'bitmex'){
                return numeral(coin).format( '₩0,0.00000000' ); // 1000.00000123 =>  1,000.00000123
            }else{
                return numeral(coin).format( '₩0,0' );
            }
        }

        function price_comma(num, site){
            var site_type='';
            if(site.indexOf("bitmex") !== -1){
                site_type='bitmex';
            }else{
                site_type = site;
            }

            var coin = Number(num);
            if(site_type === 'bitmex'){
                return numeral(coin).format( '₩0,0.0' ); // 1000.00000123 =>  1,000.00000123
            }else{
                return numeral(coin).format( '₩0,0' );
            }
        }

        function amount_comma(num, site){
            var site_type='';
            if(site.indexOf("bitmex") !== -1){
                site_type='bitmex';
            }else{
                site_type = site;
            }

            var amt = Number(num);
            if(site_type==='bitmex'){
                return numeral(amt).format( '₩0,0' ); 
            }else{
                return numeral(amt).format( '₩0,0.0000' ); // 1000.00000123 =>  1,000.00000123
            }
        }

        function value_comma(num, site){
            var site_type='';
            if(site.indexOf("bitmex") !== -1){
                site_type='bitmex';
            }else{
                site_type = site;
            }

            var coin = Number(num);
            if(site_type === 'bitmex'){
                return numeral(coin).format( '₩0,0.0000' ); // 1000.00000123 =>  1,000.00000123
            }else{
                return numeral(coin).format( '₩0,0' ); 
            }
        }

        function benefit_comma(num){
            var coin = Number(num);
            return numeral(coin).format( '₩0,0.0000' ); // 1000.00000123 =>  1,000.00000123
        }

        $(document).ready(function(){
            var site = $("#site").val();
            getHistory(site);
            $("#logSearch").click(function(){
                var site = $("#site").val();
                getHistory(site);
            });
        });
    </script>
    <title>Document</title>
</head>
<body>
    <input type="hidden" id="site" value='<%=site%>' >
    조회 <input type="button" id="logSearch" value="조회"/><br>

    <h2><%=site%> 거래 내역</h2>
    <div id="start_asset"></div>
    <div id="totalBenefit"></div>
    <div id="totalBenefitRate"></div>
    <table id="mytable" border="1px">
        <tr>
            <td>no</td>
            <td>날짜</td>
            <td>시작시간</td>
            <td>종료시간</td>
            <td>자산</td>
            <td>구분</td>
            <td></td>
            <td>분할횟수</td>
            <td>시작가격</td>
            <td>종료가격</td>
            <td>평균가격</td>
            <td>수량</td>
            <td>가치</td>
            <td>수익율</td>
        </tr>
        <tbody>
        </tbody>
    </table>
</body>
</html>