<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script type="text/javascript" src="../Scripts/jquery-3.3.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
    <script>
        $(document).ready(function(){
            setTimeout(get_order_info(), 0);
            setTimeout(get_unfilled_history(), 0);
            //var intevID = setInterval(get_last_price(), 1000);
            $("#buy").click(function(){
                if(confirm("매수 하시겠습니까?")){
                    var site = $("#site").val();
                    var price = $("#price").val();
                    var orderQty = Math.abs(Number($("#orderQty").val()));
                    var side = "Buy";
             
                    order(site, side, price, orderQty)
                }
            });

            $("#sell").click(function(){
                if(confirm("매도 하시겠습니까?")){
                    var site = $("#site").val();
                    var price = $("#price").val();
                    var orderQty = Math.abs(Number($("#orderQty").val()));
                    var side = "Sell";
  
                    order(site, side, price, orderQty)
                }
            });
            $("#half").click(function(){
                console.log("0.5x");
                let size = Number($("#size").val());
                size = Math.floor(size / 2);
                $("#orderQty").val(size);
            });
            $("#all").click(function(){
                console.log("1.0x");
                let size = Number($("#size").val());
                size = Math.floor(size);
                $("#orderQty").val(size);
            });
            $("#default").click(function(){
                console.log("default");
                var price = Number($("#price").val());
                console.log("price : "+price);
                if(isNaN(price)){
                    alert("주문가격을 올바르게 입력하세요. 특수기호 입력불가");
                    return;
                }
                if(price === 0){
                    alert("주문가격을 먼저 입력하세요");
                    return;
                }
                var availableMargin = Number($("#availableMargin").val());
                var leverage = Number($("#leverage").val());
                var margin = Number($("#margin").val()) * 0.01;
                var size = Math.floor(((availableMargin * margin) * leverage) * price);
                $("#orderQty").val(size);
            });
        });
        function fixed1(num){
            var str = new String(num);
            var arr = str.split(".");
            if(arr.length>1){
                var str2 = arr[1].slice(0,1);
                return Number(arr[0] + '.' + str2);	
            }
            return Number(arr[0]);
        }
        function fixed4(num){
            var str = new String(num);
            var arr = str.split(".");
            if(arr.length>1){
                    var str2 = arr[1].slice(0,4);
                return Number(arr[0] + '.' + str2);	
            }
            return Number(arr[0])
        }
        function price_comma(num, site){
            var site_type='';
            if(site.indexOf("bitmex") !== -1){
                site_type='bitmex';
            }else{
                site_type = site;
            }

            var coin = Number(num);
            if(site_type === 'bitmex'){
                return numeral(coin).format( '₩0,0.0' ); // 1000.00000123 =>  1,000.00000123
            }else{
                return numeral(coin).format( '₩0,0' );
            }
        }

        function amount_comma(num, site){
            var site_type='';
            if(site.indexOf("bitmex") !== -1){
                site_type='bitmex';
            }else{
                site_type = site;
            }

            var amt = Number(num);
            if(site_type==='bitmex'){
                return numeral(amt).format( '₩0,0' ); 
            }else{
                return numeral(amt).format( '₩0,0.0000' ); // 1000.00000123 =>  1,000.00000123
            }
        }
        function value_comma(num, site){
            var site_type='';
            if(site.indexOf("bitmex") !== -1){
                site_type='bitmex';
            }else{
                site_type = site;
            }

            var coin = Number(num);
            if(site_type === 'bitmex'){
                return numeral(coin).format( '₩0,0.0000' ); // 1000.00000123 =>  1,000.00000123
            }else{
                return numeral(coin).format( '₩0,0' ); 
            }
        }
        function get_order_info(){
            return function(){
                $.ajax({
                    type : "GET",
                    url : "api/get_order_info?site="+$("#site").val(),
                    success : function(json){
                        if(json){
                            console.log(json);
                            $("#last_price").html("현재가 : "+ price_comma(fixed1(json.last_price),'bitmex'));
                            $("#avgEntryPrice").html("현재진입가격 : "+price_comma(fixed1(json.avgEntryPrice),'bitmex'));
                            $("#size_text").html("현재수량 : "+amount_comma(json.size,'bitmex'));
                            $("#size").val(json.size);
                            // $("#availableMargin_text").html("이용가능밸런스 : "+value_comma(json.availableMargin,'bitmex'));
                            $("#availableMargin").val(json.availableMargin);
                            $("#margin").val(json.margin);
                            $("#leverage").val(json.leverage);
                        }
                    },
                    error : function(request, status, error){
                        console.log("error : "+error);
                        //clearInterval(intevID);
                    }
                });
            }
        }
        function get_unfilled_history(){
            return function(){
                $.ajax({
                    type : "GET",
                    url : "api/get_unfilled_history?site="+$("#site").val(),
                    success : function(json){
                        if(json){
                            //console.log(json);
                            $("#mytable > tbody:last").empty();
                            for(i=0; i<json.length; i++){
                                var time1 = json[i].timestamp.split("T")[1].split(":");
                                $("#mytable > tbody:last").append("<tr>");
                                        $("#mytable > tbody:last").append("<td align='center'>" + (i+1) + "</td>");  
                                        $("#mytable > tbody:last").append("<td align='center'>" + json[i].timestamp.split("T")[0] + "</td>");
                                    
                                        $("#mytable > tbody:last").append("<td align='center'>" + time1[0] + ":" + time1[1] + ":" + time1[2].split(".")[0] + "</td>"); 
                                        $("#mytable > tbody:last").append("<td align='center'>" + json[i].side + "</td>");  
                                        $("#mytable > tbody:last").append("<td align='center'>" + price_comma(json[i].price,'bitmex') + "</td>");  
                                        $("#mytable > tbody:last").append("<td align='right'>" + amount_comma(json[i].orderQty,'bitmex')+ "</td>"); 
                                        $("#mytable > tbody:last").append("<td align='right'>" + value_comma(fixed4(json[i].orderQty/json[i].price),'bitmex') + "</td>");
                                        // $("#mytable > tbody:last").append("<td align='right'>" + json[i].leavesQty+ "</td>"); 
                                        var obj = {
                                            site : json[i].site,
                                            orderID : json[i].orderID
                                        }
                                        $("#mytable > tbody:last").append("<td align='center'>" + "<a href='javascript:void(0);' onclick=orderCancel('" + JSON.stringify(obj) + "')>"+ "취소" +"</a>" + "</td>");            
                                        //console.log("<td align='center'>" + "<a href='javascript:void(0);' onclick=manual_order('" + JSON.stringify(obj) + "')>"+ "매수" +"</a>" + "</td>");

                                $("#mytable > tbody:last").append("<tr>");
                            }
                        }
                    },
                    error : function(request, status, error){
                        console.log("error : "+error);
                        //clearInterval(intevID);
                    }
                });
            }
        }
        function order(site, side, price, orderQty){
            var obj = {
                site : site,
                symbol : 'XBTUSD',
                side : side,
                price : price,
                orderQty : orderQty
            }

            $.ajax({
                method : 'POST',
                url : '/api/order',
                dataType : "json",
                data : obj,
                success : function(json){
                    alert(json.msg);
                    setTimeout(get_unfilled_history(), 0);
                },
                error(){

                }
            });
        }
        function orderCancel(obj){
            if(confirm("취소하시겠습니까?")){
                var json = JSON.parse(obj);
                console.log(json);
            
                $.ajax({
                    method : 'POST',
                    url : '/api/orderCancel',
                    dataType : "json",
                    data : json,
                    success : function(json){
                        alert(json.msg);
                        setTimeout(get_unfilled_history(), 0);
                    },
                    error(){

                    }
                });
            }

        }
    </script>
</head>
<body>
    <h2><%=site%> 주문</h2>
     <input type="hidden" id="site" value="<%=site%>">
     <input type="hidden" id="size" value="">
     <input type="hidden" id="availableMargin" value="">
     <input type="hidden" id="margin" value="">
     <input type="hidden" id="leverage" value="">
    <div id="last_price">현재가 : </div>
    <div id="avgEntryPrice">현재진입가격 : </div>
    <div id="size_text"">현재수량 : </div>
    <!-- <div id="availableMargin_text"">이용가능수량 : </div> -->
    
    주문가격 <input type="text" id="price" value=""><br>
    주문수량 <input type="text" id="orderQty" value="" readonly>
    <input type="button" id="half" value="0.5x"/>
    <input type="button" id="all" value="1.0x"/>
    <input type="button" id="default" value="default"/><br>
    <input type="button" id="buy" value="매수"> <input type="button" id="sell" value="매도"><br>

    <h2>미체결내역</h2>
    <table id="mytable" border="1px">
        <thead>
            <tr>
                <th>no</th>
                <th>날짜</th>
                <th>시간</th>
                <th>타입</th>
                <th>가격</th>
                <th>수량</th>
                <th>가치</th>
                <th>취소</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</body>
</html>