<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    
    <link href="../Content/normalize.css" rel="stylesheet" type="text/css">
    <link href="../Content/webflow.css" rel="stylesheet" type="text/css">
    <link href="../Content/gmc-labs.webflow.css" rel="stylesheet" type="text/css">
    <link href="../Content/webflowGrid.css" rel="stylesheet" type="text/css">

    <style>
            table {
                border-collapse: collapse;
                border-spacing: 0;
            }
            /*====================*/
            section {
                max-width: 960px;
                margin: 30px auto;
                padding: 30px;
            }
            table {
                width: 100%;
            }
            th,
            td {
                padding: 5px;
                border: 1px solid #ddd;
            }
            th {
                background: #f4f4f4;
            }
            .demo02 th {
                width: 13%;
            }
            .demo02 td {
                text-align: center;
            }
            .demo02 td:first-child {
                text-align: center;
            }
            @media only screen and (max-width: 800px) {
                .demo02 {
                    display: block;
                    width: 100%;
                    margin: 0 -10px;
                }
                .demo02 thead {
                    display: block;
                    float: left;
                    overflow-x: scroll;
                }
                .demo02 tbody {
                    display: block;
                    width: auto;
                    overflow-x: auto;
                    white-space: nowrap;
                }
                .demo02 th {
                    display: block;
                    width: auto;
                }
                .demo02 tbody tr {
                    display: inline-block;
                    margin: 0 -3px;
                }
                .demo02 td {
                    display: block;
                }
            }
        </style>

    <script type="text/javascript" src="../Scripts/jquery-3.3.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script>
        $.ajax({
            method : "GET",
            url : "api/positionAll",
            success: function(json){
                console.log(json);
                if(json){
                    var list = json.list;
                    var last_price = json.last_price;
                    $("#mytable > tbody:last").empty();
                    $("#last_price").html("");
                    $("#last_price").html("현재가 : "+ last_price +"<br><br>");
                    for(i=0; i<list.length; i++){
                        
                        $("#mytable > tbody:last").append("<tr>");
                                $("#mytable > tbody:last").append("<td align='center'>" + (i+1) + "</td>"); 
                                $("#mytable > tbody:last").append("<td align='left'>" + list[i].site + "</td>");
                                $("#mytable > tbody:last").append("<td align='center'>" + list[i].scriptName + "</td>");
                                $("#mytable > tbody:last").append("<td align='center'>" + list[i].version + "</td>");
                                $("#mytable > tbody:last").append("<td align='center'>" + list[i].scriptNo + "</td>");
                                $("#mytable > tbody:last").append("<td align='center'>" + isPosition(list[i].size) + "</td>"); 
                                $("#mytable > tbody:last").append("<td align='center'>" + list[i].side_num + "</td>");
                                $("#mytable > tbody:last").append("<td align='right'>" + asset_comma(list[i].walletBalance, list[i].site) + "</td>"); 
                                $("#mytable > tbody:last").append("<td align='right'>" + amount_comma(list[i].size,list[i].site) + "</td>"); 
                                $("#mytable > tbody:last").append("<td align='right'>" + value_comma(list[i].value, list[i].site) + "</td>");
                                $("#mytable > tbody:last").append("<td align='center'>" + price_comma(list[i].avgEntryPrice, list[i].site) + "</td>");  
                                $("#mytable > tbody:last").append("<td align='center'>" + list[i].margin + "</td>");
                                $("#mytable > tbody:last").append("<td align='center'>" + list[i].leverage + "</td>"); 
                                $("#mytable > tbody:last").append("<td align='center'>" + value_comma(list[i].unrealisedPnl.toFixed(4), list[i].site) +"(" + roePer_comma(list[i].unrealisedRoePcnt)+"%)" + "</td>");                         
                                $("#mytable > tbody:last").append("<td align='right'>" + value_comma(list[i].realisedPnl.toFixed(4), list[i].site) + "</td>");                         
                        $("#mytable > tbody:last").append("<tr>");
                    }
                }
            },
            error : function(request, status, error) {
                console.log("error : " + error);
            }
        });
        function isPosition(size){
            if(size > 0){
                return "long"
            }else if(size < 0){
                return "short";
            }else{
                return "";
            }

        }
        function asset_comma(num, site){
            var site_type='';
            if(site.indexOf("bitmex") !== -1){
                site_type='bitmex';
            }else{
                site_type = site;
            }
 
            var coin = Number(num);
            if(site_type === 'bitmex'){
                return numeral(coin).format( '₩0,0.00000000' ); // 1000.00000123 =>  1,000.00000123
            }else{
                return numeral(coin).format( '₩0,0' );
            }
        }

        function price_comma(num, site){
            var site_type='';
            if(site.indexOf("bitmex") !== -1){
                site_type='bitmex';
            }else{
                site_type = site;
            }

            var coin = Number(num);
            if(site_type === 'bitmex'){
                return numeral(coin).format( '₩0,0.0' ); // 1000.00000123 =>  1,000.00000123
            }else{
                return numeral(coin).format( '₩0,0' );
            }
        }

        function amount_comma(num, site){
            var site_type='';
            if(site.indexOf("bitmex") !== -1){
                site_type='bitmex';
            }else{
                site_type = site;
            }

            var amt = Number(num);
            if(site_type==='bitmex'){
                return numeral(amt).format( '₩0,0' ); 
            }else{
                return numeral(amt).format( '₩0,0.0000' ); // 1000.00000123 =>  1,000.00000123
            }
        }

        function value_comma(num, site){
            var site_type='';
            if(site.indexOf("bitmex") !== -1){
                site_type='bitmex';
            }else{
                site_type = site;
            }

            var coin = Number(num);
            if(site_type === 'bitmex'){
                return numeral(coin).format( '₩0,0.0000' ); // 1000.00000123 =>  1,000.00000123
            }else{
                return numeral(coin).format( '₩0,0' ); 
            }
        }

        function benefit_comma(num){
            var coin = Number(num);
            return numeral(coin).format( '₩0,0.0000' ); // 1000.00000123 =>  1,000.00000123
        }
        function roePer_comma(num){
            var coin = Number(num);
            return numeral(coin).format( '₩0,0.00' ); // 1000.00000123 =>  1,000.00000123
        }
    </script>
    <title>Document</title>
</head>

<div class="section-62">
        <div class="w-container">
        
            <h2>비트맥스 포지션</h2>
            
            <div class="w-embed">
                <div class="table-wrapper">
                    <br>
            
                    <div id="last_price"></div>
                    <table id="mytable" border="1px">
                        <thead>
                            <tr>
                                <th>no</th>
                                <th>계정</th>
                                <th>스크립트</th>
                                <th>버전</th>
                                <th>스크립트 번호</th>
                                <th>포지션</th>
                                <th>총자산</th>
                                <th>수량</th>
                                <th>가치</th>
                                <th>진입가격</th>
                                <th>마진</th>
                                <th>레버리지</th>
                                <th>미실현손익</th>
                                <th>실현손익</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
            </div>
</body>
</html>