<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="../Scripts/jquery-3.3.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script>
        $.ajax({
            method : "GET",
            url : "api/positionAll",
            success: function(json){
                console.log(json);
                if(json){
                   
                    $("#mytable > tbody:last").empty();
                    for(i=0; i<json.length; i++){
                        
                        $("#mytable > tbody:last").append("<tr>");
                                $("#mytable > tbody:last").append("<td align='center'>" + (i+1) + "</td>"); 
                                $("#mytable > tbody:last").append("<td align='left'>" + json[i].site + "</td>");
                                $("#mytable > tbody:last").append("<td align='right'>" + json[i].symbol + "</td>");
                                $("#mytable > tbody:last").append("<td align='right'>" + amount_comma(json[i].size,json[i].site) + "</td>"); 
                                $("#mytable > tbody:last").append("<td align='right'>" + value_comma(json[i].value, json[i].site) + "</td>");
                                $("#mytable > tbody:last").append("<td align='center'>" + price_comma(json[i].avgEntryPrice, json[i].site) + "</td>");  
                                $("#mytable > tbody:last").append("<td align='center'>" + json[i].margin + "</td>");
                                $("#mytable > tbody:last").append("<td align='center'>" + json[i].leverage + "</td>"); 
                                $("#mytable > tbody:last").append("<td align='center'>" + value_comma(json[i].unrealisedPnl.toFixed(4), json[i].site) +"(" + roePer_comma(json[i].unrealisedRoePcnt)+"%)" + "</td>");                         
                                $("#mytable > tbody:last").append("<td align='right'>" + value_comma(json[i].realisedPnl.toFixed(4), json[i].site) + "</td>");                         
                        $("#mytable > tbody:last").append("<tr>");
                    }
                }
            },
            error : function(request, status, error) {
                console.log("error : " + error);
            }
        });

        function asset_comma(num, site){
            var site_type='';
            if(site.indexOf("bitmex") !== -1){
                site_type='bitmex';
            }else{
                site_type = site;
            }
 
            var coin = Number(num);
            if(site_type === 'bitmex'){
                return numeral(coin).format( '₩0,0.00000000' ); // 1000.00000123 =>  1,000.00000123
            }else{
                return numeral(coin).format( '₩0,0' );
            }
        }

        function price_comma(num, site){
            var site_type='';
            if(site.indexOf("bitmex") !== -1){
                site_type='bitmex';
            }else{
                site_type = site;
            }

            var coin = Number(num);
            if(site_type === 'bitmex'){
                return numeral(coin).format( '₩0,0.0' ); // 1000.00000123 =>  1,000.00000123
            }else{
                return numeral(coin).format( '₩0,0' );
            }
        }

        function amount_comma(num, site){
            var site_type='';
            if(site.indexOf("bitmex") !== -1){
                site_type='bitmex';
            }else{
                site_type = site;
            }

            var amt = Number(num);
            if(site_type==='bitmex'){
                return numeral(amt).format( '₩0,0' ); 
            }else{
                return numeral(amt).format( '₩0,0.0000' ); // 1000.00000123 =>  1,000.00000123
            }
        }

        function value_comma(num, site){
            var site_type='';
            if(site.indexOf("bitmex") !== -1){
                site_type='bitmex';
            }else{
                site_type = site;
            }

            var coin = Number(num);
            if(site_type === 'bitmex'){
                return numeral(coin).format( '₩0,0.0000' ); // 1000.00000123 =>  1,000.00000123
            }else{
                return numeral(coin).format( '₩0,0' ); 
            }
        }

        function benefit_comma(num){
            var coin = Number(num);
            return numeral(coin).format( '₩0,0.0000' ); // 1000.00000123 =>  1,000.00000123
        }
        function roePer_comma(num){
            var coin = Number(num);
            return numeral(coin).format( '₩0,0.00' ); // 1000.00000123 =>  1,000.00000123
        }
    </script>
    <title>Document</title>
</head>
<body>
    <h2>비트맥스 포지션</h2>
    <table id="mytable" border="1px">
        <tr>
            <td>no</td>
            <td>계정</td>
            <td>심볼</td>
            <td>수량</td>
            <td>가치</td>
            <td>진입가격</td>
            <td>마진</td>
            <td>레버리지</td>
            <td>미실현손익</td>
            <td>실현손익</td>
        </tr>
        <tbody>
        </tbody>
    </table>
</body>
</html>