<!DOCTYPE html>

<html lang="ko">

<head>

    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="../Content/normalize.css" rel="stylesheet" type="text/css">
    <link href="../Content/webflow.css" rel="stylesheet" type="text/css">
    <link href="../Content/gmc-labs.webflow.css" rel="stylesheet" type="text/css">
    <link href="../Content/webflowGrid.css" rel="stylesheet" type="text/css">

    <title>GMC DefenceBot - 세부설정</title>

    <!-- <link rel="stylesheet" type="text/css" href="../Content/bootstrap.min.css"> -->

    <!-- <link rel="stylesheet" type="text/css" href="../Content/sub_1.css"> -->

    <link rel="stylesheet" type="text/css" href="../Content/lc_switch.css">

    <script type="text/javascript" src="../Scripts/jquery-3.3.1.min.js"></script>

    <!-- <script type="text/javascript" src="../Scripts/bootstrap.min.js"></script> -->

    <script type="text/javascript" src="../Scripts/lc_switch.js"></script>

</head>

<body class="body-51">

        <div class="section-75">
                <div class="w-container">
                  <div class="w-layout-grid grid-139">
                
                    <div id="w-node-5d38c6c48663-de58f0e8" class="text-block-139">
                      <h4><%=site%> 마진거래 설정</h4>
                    </div>
                    <button type="button" id="storeSet" class="button-33 w-button">저장</button>
                    <button type="button" id="closeWindow" class="button-46 w-button">취소</button>
                  </div>
                
                  <div class="w-layout-grid grid-140">
                    <div class="form-block-7 w-form">
                      <form class="form-17">
                        <div class="text-block-140" for="url">url</div>
                        <input type="text" maxlength="256" id="url" required="" class="text-field-9 w-input">
                      </form>
                    </div>
                        
                      <div class="form-block-4 w-form">
                        <form class="form-17">
                          <div class="text-block-141" for="apiKey">apikey</div>
                          <input type="hidden" maxlength="256" id="site" value='<%=site%>' class="">
                          <input type="hidden" class="form-control" id="symbol" placeholder="">
                          <input type="text" maxlength="256" class="form-control text-field-9 w-input" id="apiKey" placeholder="">
                        </form>
                      </div>
                
                        <div class="form-block-7 w-form">
                          <form class="form-17">
                            <div class="text-block-141" for="secreteKey">secreteKey</div>
                            <input type="text" maxlength="256" id="secreteKey" required="" class="text-field-9 w-input">
                          </form>
                
                        </div>
                        <div class="form-block-7 w-form">
                            <form class="form-17">
                            <div class="text-block-141" for="scriptNo">스크립트 번호</div>
                            <input type="text" maxlength="256" id="scriptNo" required="" class="text-field-9 w-input">
                          </form>
                
                        </div>
                        <div class="form-block-7 w-form">
                          <form id="email-form" name="email-form" data-name="Email Form" class="form-6">
                            <div class="text-block-141" for="leverage">레버리지</div>
                            <input type="text" maxlength="256" id="leverage" required="" class="text-field-9 w-input">
                          </form>
                
                        </div>
                        <div class="form-block-7 w-form">
                          <form id="email-form" name="email-form" data-name="Email Form" class="form-6">
                            <div class="text-block-141" for="margin">마진</div>
                            <input type="text" maxlength="256" id="margin" required="" class="text-field-9 w-input">
                          </form>
                
                        </div>
                        <div class="form-block-7 w-form">
                          <form id="email-form" name="email-form" data-name="Email Form" class="form-6">
                            <div class="text-block-141" for="minOrdCost">주문최소금액</div>
                            <input type="text" maxlength="256" id="minOrdCost" required="" class="text-field-9 w-input">
                          </form>
                
                        </div>
                        <div class="form-block-7 w-form">
                          <form id="email-form" name="email-form" data-name="Email Form" class="form-6">
                            <div class="text-block-141"  for="ordInterval">주문 인터벌</div>
                            <input type="text" maxlength="256" id="ordInterval" required="" class="text-field-9 w-input">
                          </form>
                
                        </div>
                        <div class="form-block-7 w-form">
                          <form id="email-form" name="email-form" data-name="Email Form" class="form-6">
                            <div class="text-block-141" for="minOrdRate">최소주문비율</div>
                            <input type="text" maxlength="256" id="minOrdRate" required="" class="text-field-9 w-input">
                          </form>
                
                        </div>
                        <div class="form-block-7 w-form">
                          <form id="email-form" name="email-form" data-name="Email Form" class="form-6">
                            <div class="text-block-141"  for="maxOrdRate">최대주문비율</div>
                            <input type="text" maxlength="256" id="maxOrdRate" required="" class="text-field-9 w-input">
                          </form>
                
                        </div>
                      </div>
                    </div>
                  </div>



    <script type="text/javascript">

        $(document).ready(function (e) {
            $('.lcs_check').lc_switch();

            $("#closeWindow").click(function(){
                //window.close();
                history.back();
            });
            $("#storeSet").click(function(){
                var obj={
                    url : $("#url").val(),
                    site : $("#site").val(),
                    symbol : $("#symbol").val(),
                    apiKey : $("#apiKey").val(),
                    secreteKey : $("#secreteKey").val(),
                    scriptNo : $("#scriptNo").val(),
                    leverage : $("#leverage").val(),
                    margin : $("#margin").val(),
                    minOrdCost : $("#minOrdCost").val(),
                    ordInterval : $("#ordInterval").val(),
                    minOrdRate : $("#minOrdRate").val(),
                    maxOrdRate : $("#maxOrdRate").val()
                }
                console.log(JSON.stringify(obj));
                $.ajax({
                    type: "POST",
                    url: "api/setting",
                    dataType: "json",
                    data : obj,
                    success: function(body) {
                        if(body){
                            alert(body.msg);
                        }
                    },
                    error : function(request, status, error) {
                        console.log("error : " + error);
                    }
                });
            });

            $.ajax({
                type : "GET",
                url : 'api/read_setting?site='+$("#site").val(),
                success : function(json){
                    if(json){
                        console.log("read_setting실행");
                        console.log(json);
                        $("#url").val(json.url),
                        $("#apiKey").val(json.apiKey),
                        $("#secreteKey").val(json.secreteKey),
                        $("#scriptNo").val(json.scriptNo),
                        $("#leverage").val(json.leverage),
                        $("#margin").val(json.margin),
                        $("#minOrdCost").val(json.minOrdCost),
                        $("#ordInterval").val(json.ordInterval),
                        $("#minOrdRate").val(json.minOrdRate),
                        $("#maxOrdRate").val(json.minOrdRate)
                    }
                },
                error : function(request, status, error){
                    console.log("error : "+error);
                }
            });
        });
    </script>

</body>

</html>
