<!DOCTYPE html>

<html lang="ko">

<head>

    <meta charset="utf-8" />

    <title>GMC DefenceBot - 세부설정</title>

    <link rel="stylesheet" type="text/css" href="../Content/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="../Content/sub_1.css">

    <link rel="stylesheet" type="text/css" href="../Content/lc_switch.css">

    <script type="text/javascript" src="../Scripts/jquery-3.3.1.min.js"></script>

    <script type="text/javascript" src="../Scripts/bootstrap.min.js"></script>

    <script type="text/javascript" src="../Scripts/lc_switch.js"></script>

</head>

<body style="min-width:1280px;">

    <div class="setting">

        <div class="m_txt">

            <h4><%=site%> 마진거래 설정</h4>
            
            <div class="button_box">

                <button type="button" id="storeSet" class="btn btn-primary btn-md">저장</button>

                <button type="button" id="closeWindow" class="btn btn-secondary btn-md">취소</button>

            </div>
        </div>

        <div class="box box_1">

            <form class="box_1_form">


                <div class="">

                    <label for="isEntering" class="key_label col-form-label">진입중</label>

                    <div class="">
                        <input type="hidden" class="form-control" id="site" value='<%=site%>' readonly placeholder="">
                       <input type="text" class="form-control" id="isEntering" readonly placeholder="">

                    </div>

                </div>

                <div class="">

                    <label for="isExiting" class="key_label col-form-label">탈출중</label>

                    <div class="">

                        <input type="text" class="form-control" id="isExiting" readonly placeholder="">

                    </div>

                </div>


                <div class="">

                    <label for="side" class="key_label col-form-label">포지션</label>

                    <div class="">

                        <input type="text" class="form-control" id="side" readonly placeholder="">
                        
                    </div>
                    
                </div>

                <div class="">

                    <label for="side_num" class="key_label col-form-label">side num</label>

                    <div class="">

                        <input type="text" class="form-control" id="side_num" placeholder="">

                    </div>

                </div>   
            </div>

        </form>

    </div>

</div>



    <script type="text/javascript">

        $(document).ready(function (e) {

            $('.lcs_check').lc_switch();
            $("#closeWindow").click(function(){
                //window.close();
                history.back();
            });
            $("#storeSet").click(function(){
                var obj={
                    site : $("#site").val(),
                    side : $("#side").val(),
                    side_num : $("#side_num").val()
                }
                console.log(JSON.stringify(obj));
                $.ajax({
                    type: "POST",
                    url: "api/setting_status",
                    dataType: "json",
                    data : obj,
                    success: function(body) {
                        if(body){
                            alert(body.msg);
                        }
                    },
                    error : function(request, status, error) {
                        console.log("error : " + error);
                    }
                });
            });

            $.ajax({
                type : "GET",
                url : 'api/read_setting?site='+$("#site").val(),
                success : function(json){
                    if(json){
                        console.log("read_setting실행");
                        console.log(json);
                        $("#isEntering").val(json.isEntering),
                        $("#isExiting").val(json.isExiting),
                        $("#side").val(json.side),
                        $("#side_num").val(json.side_num)
                    }
                },
                error : function(request, status, error){
                    console.log("error : "+error);
                }
            });
        });
    </script>

</body>

</html>
