.section-62 {
  margin: 40px 10px;
}

.link {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*{
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 14px;
}

/* headTable */

.head{
  width: 100%;
  /* background-color: rgb(255, 255, 255); */
  filter: drop-shadow(0px 3px 10px rgba(163, 163, 163, 0.096));
  background-color: rgba(233, 233, 233, 0.13);

}

.head td{
  width: 30px;
  height: 20px;
  border: 1px solid rgba(199, 199, 199, 0.198);
  padding: 8px 18px 8px 18px;
}

@media screen and (max-width: 570px){
  .head{
    background-color: rgba(233, 233, 233, 0.13);
    color: rgb(77, 77, 77);
  }
  
  .head td{
    width: 100px;
    height: 20px;
    border: 1px solid rgba(199, 199, 199, 0.198);
    padding: 5px 8px 5px 8px;
  }
}

@media screen and (max-width: 375px){
  .head td{
    font-size: 12px;
  }
}

@media screen and (max-width: 330px){
  .head td{
    padding: 1px 1px 1px 1px;
    font-size: 12px;
  }
}

/*====================*/
/* bitmexTable_1 */
.day{
  white-space: nowrap;
}

.historyTitle{
  margin-left: 10px;
  font-size: 30px;
}

.historyTable {
  width: 100%;
  /* background-color: rgb(255, 255, 255); */
  filter: drop-shadow(0px 3px 10px rgba(163, 163, 163, 0.096));
  /* margin-bottom: 20px; */
}

.historyTable td {
  /* width: 100px; */
  padding: 6px 10px 6px 10px;
  border: 1px solid rgba(243, 243, 243, 0.541); 
}
.select {
  float: right; 
  margin-top: 25px; 
  margin-right: 10px;
  height: 28px; 
  width: 70px; 
  font-size: 14px;
}

.pageNumber{
  margin-top: 30px; 
  margin-bottom: 20px;
}

.pageNumber a, strong{
  font-size: 18px;
  margin-left: 3px;
  margin-right: 3px;
}

.number{
  width: 100px;
  text-align: center;
  color: rgb(77, 77, 77);
}
.side_num{
  float: right;
}

.day{
  text-align: center;
  color: rgb(77, 77, 77);
}

.manual{
  text-align: center;
  
}

section {
  max-width: 960px;
  margin: 30px auto;
  padding: 30px;
}

.____1463{
  margin-top: 20px;
}

.Sell {
  overflow: visible;
  white-space: nowrap;
  text-align: left;
  font-family: 'Nanum Gothic', sans-serif;
  font-style: normal;
  font-weight: bold;
  color: rgb(77, 77, 77);
}

.ID1 {
  overflow: visible;
  white-space: nowrap;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
  font-style: normal;
  font-weight: bold;
  color: rgb(77, 77, 77);
}

.ID1_31862731 {
  overflow: visible;
  white-space: nowrap;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
  font-style: normal;
  color: rgb(77, 77, 77);
  /* padding-left: 80px; */
}

.ID0_00_ {
  overflow: visible;
  white-space: nowrap;
  text-align: right;
  font-family: 'Nanum Gothic', sans-serif;
  font-style: normal;
  font-weight: bold;
  color: rgba(181,53,53,1);
}

.ID0_00_2 {
  overflow: visible;
  white-space: nowrap;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
  font-style: normal;
  font-weight: bold;
  color: rgb(77, 77, 77);
  content: none;
}

.__ {
  overflow: visible;
  white-space: nowrap;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: rgb(77, 77, 77);
}

.ID07_00_18 {
  overflow: visible;
  white-space: nowrap;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: rgb(77, 77, 77);
}

.ID8_736_0 {
  overflow: visible;
  white-space: nowrap;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: rgb(77, 77, 77);
}

.___A64_Text_7 {
  overflow: visible;
  white-space: nowrap;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: rgb(77, 77, 77);
}

.ID21_917 {
  overflow: visible;
  white-space: nowrap;
  text-align: right;
  font-family: 'Nanum Gothic', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: rgb(77, 77, 77);
}

.___A64_Text_5 {
  overflow: visible;
  white-space: nowrap;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: rgb(77, 77, 77);
}

.ID07_00_21 {
  overflow: visible;
  white-space: nowrap;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: rgb(77, 77, 77);
}

.ID8_736_0_A64_Text_17 {
  overflow: visible;
  white-space: nowrap;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: rgb(77, 77, 77);
}

.___A64_Text_8 {
  overflow: visible;
  white-space: nowrap;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: rgb(77, 77, 77);
}

.ID2_5088 {
  overflow: visible;
  white-space: nowrap;
  text-align: right;
  font-family: 'Nanum Gothic', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: rgb(77, 77, 77);
}

.___A64_Text_6 {
  overflow: visible;
  white-space: nowrap;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
  font-style: normal;
  
  color: rgb(77, 77, 77);
}

.ID8_736_0_A64_Text_18 {
  overflow: visible;
  white-space: nowrap;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
  font-style: normal;
  color: rgb(77, 77, 77);
}

.___A64_Text_10 {
  overflow: visible;
  white-space: nowrap;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: rgb(77, 77, 77);
}

.ID1_A64_Text_15 {
  overflow: visible;
  white-space: nowrap;
  text-align: right;
  font-family: 'Nanum Gothic', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: rgb(77, 77, 77);
}

.Short {
  width: 100px;
  overflow: visible;
  white-space: nowrap;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
  font-style: normal;
  font-weight: bold;
  color: rgb(77, 77, 77);
}


@media screen and (max-width: 570px) {
  
  .bitmexTable td  {
    padding: 5px 5px 5px 5px;
    border: 1px solid rgb(243, 243, 243); 
  }
}

@media screen and (max-width: 500px) {

  .bitmexName, .before_asset_sum{
    display: none;
  }

  *{
    font-size: 12px;
  }

 .historyTable td {
    padding: 5px 3px 5px 3px;
    border-bottom: 1px solid rgb(243, 243, 243); 
  }

  .number{
    width: 30px;
    text-align: center;
    color: rgb(77, 77, 77);
  }
  .side_num{
    float: right;
  }

  .historyTitle{
    font-size: 22px;
  }

  .select {
    float: right; 
    margin-top: 25px; 
    margin-right: 5px;
    height: 28px; 
    width: 60px; 
    font-size: 14px;
  }

  .pageNumber{
    margin-top: 30px; 
    margin-bottom: 20px;
  }
  
  .pageNumber a, strong{
    font-size: 16px;
    margin-left: 2px;
    margin-right: 2px;
  }

.ID2019_11_12 {
  width: 50px;
  overflow: visible;
  white-space: nowrap;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
  font-style: normal;
  color: rgb(77, 77, 77);
}

.Short {
  width: 30px;
  overflow: visible;
  white-space: nowrap;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
  font-style: normal;
  font-weight: bold;
  color: rgb(77, 77, 77);
}

.Sell {
  overflow: visible;
  white-space: nowrap;
  text-align: left;
  font-family: 'Nanum Gothic', sans-serif;
  font-style: normal;
  font-weight: bold;
  color: rgb(77, 77, 77);
}

.ID1 {
  overflow: visible;
  white-space: nowrap;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
  font-style: normal;
  font-weight: bold;
  color: rgb(77, 77, 77);
  padding-left: 8px;
}

.ID1_31862731 {
  overflow: visible;
  white-space: nowrap;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
  font-style: normal;
    color: rgb(77, 77, 77);
  }

.ID0_00_ {
  overflow: visible;
  white-space: nowrap;
  text-align: right;
  font-family: 'Nanum Gothic', sans-serif;
  font-style: normal;
  font-weight: bold;
  color: rgba(181,53,53,1);
}

.ID0_00_2 {
  overflow: visible;
  white-space: nowrap;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
  font-style: normal;
  font-weight: bold;
  color: rgb(77, 77, 77);
  
}

.__ {
  overflow: visible;
  white-space: nowrap;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: rgb(77, 77, 77);
}

.ID07_00_18 {
  overflow: visible;
  white-space: nowrap;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: rgb(77, 77, 77);
}

.ID8_736_0 {
  overflow: visible;
  white-space: nowrap;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: rgb(77, 77, 77);
}

.___A64_Text_7 {
  overflow: visible;
  white-space: nowrap;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: rgb(77, 77, 77);
}

.ID21_917 {
  overflow: visible;
  white-space: nowrap;
  text-align: right;
  font-family: 'Nanum Gothic', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: rgb(77, 77, 77);
}

.___A64_Text_5 {
  overflow: visible;
  white-space: nowrap;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: rgb(77, 77, 77);
}

.ID07_00_21 {
  overflow: visible;
  white-space: nowrap;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: rgb(77, 77, 77);
}

.ID8_736_0_A64_Text_17 {
  overflow: visible;
  white-space: nowrap;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: rgb(77, 77, 77);
}

.___A64_Text_8 {
  overflow: visible;
  white-space: nowrap;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: rgb(77, 77, 77);
}

.ID2_5088 {
  overflow: visible;
  white-space: nowrap;
  text-align: right;
  font-family: 'Nanum Gothic', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: rgb(77, 77, 77);
}

.___A64_Text_6 {
  overflow: visible;
  white-space: nowrap;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
  font-style: normal;
  
  color: rgb(77, 77, 77);
}

.ID8_736_0_A64_Text_18 {
  overflow: visible;
  white-space: nowrap;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
  font-style: normal;
  color: rgb(77, 77, 77);
}

.___A64_Text_10 {
  overflow: visible;
  white-space: nowrap;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: rgb(77, 77, 77);
}

.ID1_A64_Text_15 {
  overflow: visible;
  white-space: nowrap;
  text-align: right;
  font-family: 'Nanum Gothic', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: rgb(77, 77, 77);
}
.manual{
  font-size: 12px;
}
}

@media screen and (max-width: 420px) {
  .typeLog {
    display: none;
  }
  .numberHd{
    width: 30px;
  }
}



@media screen and (max-width: 320px) {
  .historyTable td {
    padding: 4px 1px 4px 1px;
  }
}