@charset "utf-8";
body { max-width: 1280px;}

p.setting_mtxt{}
div.setting:after, div.setting:before { display: block; content: ""; clear: both; }
div.setting_1:after, div.setting_1:before { display: block; content: ""; clear: both; }

table.table{}
table.table tbody tr td:nth-last-child(1), table.table tbody tr td:nth-last-child(2), table.table tbody tr td:nth-last-child(5), table.table tbody tr td:nth-last-child(6) {vertical-align:middle;}

