.bitmexName{
	text-align: left;
	font-size: 12px;
	color: rgb(172, 172, 172);
}

@media screen and (max-width: 768px){
	.namedelete{
		display: none;
	}
}

@media screen and (max-width: 425px){
	.bitmexName{
		text-align: left;
		font-size: 11px;
		color: rgb(172, 172, 172);
		display: none;
	}
}

*{
    font-family: 'Nanum Gothic', sans-serif;
}

.section-62 {
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 10px;

}

.link {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  /* border: 1px solid black; */
}

.bitmexTitle{
 padding-left: 10px;
}

/* headTable */

.head{
	background-color: rgba(233, 233, 233, 0.13);
  }
  
  .head{
	/* width: 100%; */
	/* background-color: rgb(255, 255, 255); */
	filter: drop-shadow(0px 3px 10px rgba(163, 163, 163, 0.096));
	margin-bottom: 20px;
  }
  
  .head td{
	width: 240px;
	height: 20px;
	border: 1px solid rgba(199, 199, 199, 0.198);
	padding: 8px 18px 8px 18px;
  }

  @media screen and (max-width: 768px){
	.head td{
	  width: 188px;
	  padding: 5px 10px 5px 10px;
	}
  }
  
  @media screen and (max-width: 570px){
	.head{
	  background-color: rgba(233, 233, 233, 0.13);
	  font-size: 12px;
	}
	
	.head td{
	  width: 100px;
	  height: 20px;
	  border: 1px solid rgba(199, 199, 199, 0.198);
	  padding: 5px 8px 5px 8px;
	}
  }

  
@media screen and (max-width: 375px){
	.head td{
	  width: 85px;
	  font-size: 12px;
	  padding: 4px 3px 4px 3px;
	}
  }

  @media screen and (max-width: 330px){
	.head td{
	  padding: 1px 0px 1px 0px;
	  font-size: 12px;
	}
  }

/*====================*/
section {
  max-width: 960px;
  margin: 30px auto;
  padding: 30px;
}
table {
  /* width: 100%; */
  background-color: rgb(255, 255, 255);
  filter: drop-shadow(0px 3px 10px rgba(163, 163, 163, 0.096));
  margin-bottom: 20px;
}
td {
  width: 180px;
  padding: 10px 14px 10px 14px;
  border: 1px solid rgba(243, 243, 243, 0.541); 
}

.ID01 {
	/* filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161)); */
	overflow: visible;
	text-align: left;
	font-family: 'Nanum Gothic', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(112,112,112,1);
}

.___3098{
  width: 120px;
  overflow: visible;
  text-align: center;
  white-space: nowrap;
}

.___3099 {
  width: 120px;
  overflow: visible;
  text-align: center;
  white-space: nowrap;
}

.___3100 {
  width: 160px;
  overflow: visible;
  text-align: center;
  white-space: nowrap;
}

.___3101 {
  width: 160px;
  overflow: visible;
  text-align: center;
  white-space: nowrap;
}

.BITMEX01 {
	overflow: visible;
	float: right;
	font-family: 'Nanum Gothic', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(112,112,112,1);
}

.ID6XMA_ALT_V01_____ {
	overflow: visible;
	float: right;
	font-family: 'Nanum Gothic', sans-serif;
	font-style: normal;
	font-size: 14px;
	color: rgba(112,112,112,1);
}

.ID6 {
	overflow: visible;
	float: right;
	font-family: 'Nanum Gothic', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(112,112,112,1);
}

.ID302 {
	overflow: visible;
	float: right;
	font-family: 'Nanum Gothic', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(112,112,112,1);
}
.margin{
	width: 100px;
}
.ID95_ {
	overflow: visible;
	float: right;
	font-family: 'Nanum Gothic', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(112,112,112,1);
}
.leverage{
	width: 100px;
}
.ID2X {
	overflow: visible;
	float: right;
	font-family: 'Nanum Gothic', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(112,112,112,1);
}

.ID1_31862731 {
	overflow: visible;
	float: right;
	font-family: 'Nanum Gothic', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(112,112,112,1);
}

._21_917 {
	overflow: visible;
	float: right;
	font-family: 'Nanum Gothic', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(112,112,112,1);
}

._2_5102 {
	overflow: visible;
	float: right;
	font-family: 'Nanum Gothic', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(112,112,112,1);
}

.ID8_736_0 {
	overflow: visible;
	float: right;
	font-family: 'Nanum Gothic', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgb(41, 41, 41);
}

.position {
	overflow: visible;
	float: right;
	font-family: 'Nanum Gothic', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgb(41, 41, 41);
}

.ID1 {
	overflow: visible;
	float: right;
	font-family: 'Nanum Gothic', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgb(41, 41, 41);
}

.ID0_0018_0_07__ {
	overflow: visible;
	float: right;
	font-family: 'Nanum Gothic', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgb(41, 41, 41);
}

@media screen and (max-width: 768px){
	.ID95_ {
		overflow: visible;
		float: right;
		font-family: 'Nanum Gothic', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		color: rgba(112,112,112,1);
	}
	
	.ID2X {
		overflow: visible;
		float: right;
		font-family: 'Nanum Gothic', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		color: rgba(112,112,112,1);
	}
	._21_917 {
		overflow: visible;
		float: right;
		font-family: 'Nanum Gothic', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		color: rgba(112,112,112,1);
	}
	.ID8_736_0 {
		overflow: visible;
		float: left;
		font-family: 'Nanum Gothic', sans-serif;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		color: rgba(112,112,112,1);
	}

}

@media screen and (max-width: 425px){

	.___3098 {
		width: 70px;
		overflow: visible;
		text-align: center;
		  white-space: nowrap;
	  }

	.___3099 {
		width: 70px;
		overflow: visible;
		text-align: center;
		  white-space: nowrap;
	  }
	  
	  .___3100 {
		width: 70px;
		overflow: visible;
		text-align: center;
		  white-space: nowrap;
	  }
	  
	  .___3101 {
		width: 70px;
		overflow: visible;
		text-align: center;
		  white-space: nowrap;
	  }

	.BITMEX01 {
		overflow: visible;
		float: left;
		font-family: 'Nanum Gothic', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		color: rgba(112,112,112,1);
	}
	
	.ID6XMA_ALT_V01_____ {
		overflow: visible;
		float: left;
		font-family: 'Nanum Gothic', sans-serif;
		font-style: normal;
		font-size: 12px;
		color: rgba(112,112,112,1);
	}
	
	.ID6 {
		overflow: visible;
		float: right;
		font-family: 'Nanum Gothic', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		color: rgba(112,112,112,1);
	}
	
	.ID302 {
		overflow: visible;
		float: right;
		font-family: 'Nanum Gothic', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		color: rgba(112,112,112,1);
	}
	.margin{
		width: 40px;
	}
	.ID95_ {
		overflow: visible;
		float: left;
		font-family: 'Nanum Gothic', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		color: rgba(112,112,112,1);
	}
	.leverage{
		width: 40px;
	}
	.ID2X {
		overflow: visible;
		float: left;
		font-family: 'Nanum Gothic', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		color: rgba(112,112,112,1);
	}
	
	.ID1_31862731 {
		overflow: visible;
		float: left;
		font-family: 'Nanum Gothic', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		color: rgba(112,112,112,1);
	}
	
	._21_917 {
		overflow: visible;
		float: right;
		font-family: 'Nanum Gothic', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		color: rgba(112,112,112,1);
	}
	
	._2_5102 {
		overflow: visible;
		float: right;
		font-family: 'Nanum Gothic', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		color: rgba(112,112,112,1);
	}
	
	.ID8_736_0 {
		overflow: visible;
		float: left;
		font-family: 'Nanum Gothic', sans-serif;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		color: rgb(41, 41, 41);
	}

	.position {
		overflow: visible;
		float: right;
		font-family: 'Nanum Gothic', sans-serif;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		color: rgb(41, 41, 41);
	}
	
	.ID1 {
		overflow: visible;
		
		float: right;
		font-family: 'Nanum Gothic', sans-serif;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		color: rgb(41, 41, 41);
	}
	
	.ID0_0018_0_07__ {
		overflow: visible;
		
		float: right;
		font-family: 'Nanum Gothic', sans-serif;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		color: rgb(41, 41, 41);
	}
}

@media screen and (max-width: 360px) {
	.section-62 {
	  margin-top: 40px;
	  margin-left: 10px;
	  margin-right: 10px;
	}
	td{
		width: 60px;
	}
}

@media screen and (max-width: 320px) {
	.___3098 {
		width: 50px;
		overflow: visible;
		text-align: center;
		white-space: nowrap;
	  }
	  .___3099 {
		width: 50px;
		overflow: visible;
		text-align: center;
		  white-space: nowrap;
	  }
	  .___3100 {
		width: 50px;
		overflow: visible;
		text-align: center;
		  white-space: nowrap;
	  }
	  .___3101 {
		width: 50px;
		overflow: visible;
		text-align: center;
		  white-space: nowrap;
	  }
}

/* button */
#____1_A63_Rectangle_7 {
	opacity: 0.7;
}
.____1_A63_Rectangle_7 {
	/* filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161)); */
	overflow: visible;
	background-color: rgba(255,255,255,1);
	border: 1px solid rgba(181,53,53,1);
	color: rgba(181,53,53,1);
	border-radius: 5px;
	font-size: 12px;
	padding: 5px 10px 5px 10px;
}

#____1_A63_Rectangle_6 {
	opacity: 0.5;
}
.____1_A63_Rectangle_6 {
	/* filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161)); */
	overflow: visible;
	background-color: rgba(255,255,255,1);
	border: 1px solid rgba(88,125,201,1);
	color: rgba(88,125,201,1);
	border-radius: 5px;
	font-size: 12px;
	padding: 5px 10px 5px 10px;
}

#____1_A63_Rectangle_8 {
	opacity: 0.7;
}
.____1_A63_Rectangle_8 {
	/* filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161)); */
	overflow: visible;
	background-color: rgba(190,95,0,1);
	color: white;
	border-radius: 5px;
	font-size: 12px;
	padding: 6px 11px 6px 11px;
}

@media screen and (max-width: 570px) {
  td {
	  width: 74px;
    padding: 3px 3px 3px 3px;
    border-bottom: 1px solid rgba(243, 243, 243, 0.541); 
  }

  /* button */
#____1_A63_Rectangle_7 {
	opacity: 0.7;
}
.____1_A63_Rectangle_7 {
	/* filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161)); */
	overflow: visible;
	background-color: rgba(255,255,255,1);
	border: 1px solid rgba(181,53,53,1);
	color: rgba(181,53,53,1);
	border-radius: 5px;
	font-size: 12px;
	padding: 3px;
}

#____1_A63_Rectangle_6 {
	opacity: 0.5;
}
.____1_A63_Rectangle_6 {
	/* filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161)); */
	overflow: visible;
	background-color: rgba(255,255,255,1);
	border: 1px solid rgba(88,125,201,1);
	color: rgba(88,125,201,1);
	border-radius: 5px;
	font-size: 12px;
	padding: 3px;
}

#____1_A63_Rectangle_8 {
	opacity: 0.7;
}
.____1_A63_Rectangle_8 {
	/* filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161)); */
	overflow: visible;
	background-color: rgba(190,95,0,1);
	color: white;
	border-radius: 5px;
	font-size: 12px;
	padding: 4px;
}

#ID6XMA_ALT_V01_____ {
	overflow: visible;
	
	text-align: left;
	font-family: 'Nanum Gothic', sans-serif;
	font-style: normal;
	font-size: 14px;
	color: rgba(112,112,112,1);
}

}


@media screen and (max-width: 330px){
	td {
		width: 50px;
		padding: 5px 2px 5px 4px;
	}
}

@media screen and (max-width: 320px){
	td {
		width: 50px;
		padding: 6px 0px 6px 0px;
	}
}
