.bitmexName{
	text-align: left;
	font-size: 12px;
	color: rgb(172, 172, 172);
}


@media screen and (max-width: 425px){
	.bitmexName{
		text-align: left;
		font-size: 11px;
		color: rgb(172, 172, 172);
		display: none;
	}
}

/* ------------------------- */

/* headTable */

.head{
	background-color: rgba(233, 233, 233, 0.13);
  }
  
  .head{
	width: 100%;
	/* background-color: rgb(255, 255, 255); */
	filter: drop-shadow(0px 3px 10px rgba(163, 163, 163, 0.096));
	margin-bottom: 20px;
  }
  
  .head td{
	width: 240px;
	height: 20px;
	border: 1px solid rgba(199, 199, 199, 0.198);
	padding: 8px 18px 8px 18px;
  }

  @media screen and (max-width: 768px){
	.head td{
	  width: 188px;
	  padding: 5px 10px 5px 10px;
	}
  }
  
  @media screen and (max-width: 570px){
	.head{
	  background-color: rgba(233, 233, 233, 0.13);
	  font-size: 12px;
	}
	
	.head td{
	  width: 110px;
	  height: 20px;
	  border: 1px solid rgba(199, 199, 199, 0.198);
	  padding: 5px 8px 5px 8px;
	}

	.bitmexTitle{
		font-size: 25px;
	   }
	.bitmexTitle{
		padding-left: 10px;
		display: inline-block;
	   }
  }

  
@media screen and (max-width: 375px){
	.head td{
	  width: 90px;
	  font-size: 12px;
	  padding: 4px 2px 4px 2px;
	}
	.bitmexTitle{
		font-size: 23px;
	   }
  }

  @media screen and (max-width: 330px){
	.head td{
	  padding: 1px 0px 1px 0px;
	  font-size: 12px;
	}
  }

  /* -------------------------- */

  *{
    font-family: 'Nanum Gothic', sans-serif;
}

.section-62 {
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 10px;

}

.link {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  /* border: 1px solid black; */
}

.bitmexTitle{
 padding-left: 10px;
 display: inline-block;
}

.positionTitleButton_1, .positionTitleButton_2{
	float: right;
	margin: 14px 14px;
	padding: 4px;
	width: 100px;
	height: 30px;
	background-color: rgb(187, 187, 187);
	text-align: center;
	border-radius: 5px;
	color: white;
	text-decoration: none;
}

.positionTitle{
	width: auto;
	padding-right: 0px;
}
  
section {
  max-width: 960px;
  margin: 30px auto;
  padding: 30px;
}
table {
  /* width: 100%; */
  background-color: rgb(255, 255, 255);
  filter: drop-shadow(0px 3px 10px rgba(163, 163, 163, 0.096));
  margin-bottom: 20px;
}
td {
  width: 180px;
  padding: 10px 10px 10px 10px;
  border: 1px solid rgba(243, 243, 243, 0.541); 
}

.ID01 {
	/* filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161)); */
	overflow: visible;
	text-align: left;
	font-family: 'Nanum Gothic', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(112,112,112,1);
}

.___3098{
  width: 120px;
  overflow: visible;
  text-align: center;
  white-space: nowrap;
}

.___3099 {
  width: 120px;
  overflow: visible;
  text-align: center;
  white-space: nowrap;
}

.___3100 {
  width: 160px;
  overflow: visible;
  text-align: center;
  white-space: nowrap;
}

.___3101 {
  width: 160px;
  overflow: visible;
  text-align: center;
  white-space: nowrap;
}

.___3102 {
	width: 160px;
	overflow: visible;
	text-align: center;
	white-space: nowrap;
  }

  .___3103 {
	width: 160px;
	overflow: visible;
	text-align: center;
	white-space: nowrap;
  }

  /* .tdHidden_2{
	  display: none;
  }

  .tdHidden {
	display: none;
  } */

.BITMEX01 {
	overflow: visible;
	float: right;
	font-family: 'Nanum Gothic', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(112,112,112,1);
}

.ID6XMA_ALT_V01_____ {
	overflow: visible;
	float: right;
	font-family: 'Nanum Gothic', sans-serif;
	font-style: normal;
	font-size: 14px;
	color: rgba(112,112,112,1);
	white-space: nowrap;
}

.ID6 {
	overflow: visible;
	float: right;
	font-family: 'Nanum Gothic', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(112,112,112,1);
}

.ID302 {
	overflow: visible;
	float: right;
	font-family: 'Nanum Gothic', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(112,112,112,1);
}
.margin{
	width: 100px;
}
.ID95_ {
	overflow: visible;
	float: right;
	font-family: 'Nanum Gothic', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(112,112,112,1);
}
.ID95_2 {
	overflow: visible;
	float: right;
	font-family: 'Nanum Gothic', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(112,112,112,1);
}
.leverage{
	width: 100px;
}
.ID2X {
	overflow: visible;
	float: right;
	font-family: 'Nanum Gothic', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(112,112,112,1);
}
.ID2X_2 {
	overflow: visible;
	float: right;
	font-family: 'Nanum Gothic', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(112,112,112,1);
}

.ID1_31862731 {
	overflow: visible;
	float: right;
	font-family: 'Nanum Gothic', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(112,112,112,1);
}

._21_917 {
	overflow: visible;
	float: right;
	font-family: 'Nanum Gothic', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(112,112,112,1);
}

._2_5102 {
	overflow: visible;
	float: right;
	font-family: 'Nanum Gothic', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(112,112,112,1);
}

.ID8_736_0 {
	overflow: visible;
	float: right;
	font-family: 'Nanum Gothic', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgb(41, 41, 41);
}

.position {
	overflow: visible;
	float: right;
	font-family: 'Nanum Gothic', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgb(41, 41, 41);
}

.ID1 {
	overflow: visible;
	float: right;
	font-family: 'Nanum Gothic', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgb(41, 41, 41);
}

.ID0_0018_0_07__ {
	overflow: visible;
	float: right;
	font-family: 'Nanum Gothic', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgb(41, 41, 41);
}

@media screen and (max-width: 768px){
	.ID95_ {
		overflow: visible;
		float: right;
		font-family: 'Nanum Gothic', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		color: rgba(112,112,112,1);
	}
	.ID95_2 {
		overflow: visible;
		float: right;
		font-family: 'Nanum Gothic', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		color: rgba(112,112,112,1);
	}
	
	.ID2X {
		overflow: visible;
		float: right;
		font-family: 'Nanum Gothic', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		color: rgba(112,112,112,1);
	}
	.ID2X_2 {
		overflow: visible;
		float: right;
		font-family: 'Nanum Gothic', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		color: rgba(112,112,112,1);
	}
	._21_917 {
		overflow: visible;
		float: right;
		font-family: 'Nanum Gothic', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		color: rgba(112,112,112,1);
	}
	.ID8_736_0 {
		overflow: visible;
		float: left;
		font-family: 'Nanum Gothic', sans-serif;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		color: rgba(112,112,112,1);
	}
	.positionTitleButton_1, .positionTitleButton_2{
		float: right;
		margin: 14px 6px 14px 6px;
		padding: 5px;
		width: 74px;
		height: 30px;
		background-color: rgb(187, 187, 187);
		text-align: center;
		border-radius: 5px;
		color: white;
		text-decoration: none;
		font-size: 12px;
	}

}

@media screen and (max-width: 425px){

	.___3098 {
		width: 58px;
		overflow: visible;
		text-align: center;
		  white-space: nowrap;
	  }

	.___3099 {
		width: 58px;
		overflow: visible;
		text-align: center;
		  white-space: nowrap;
		  /* padding: 0px 10px; */
	  }
	  
	  .___3100 {
		width: 68px;
		overflow: visible;
		text-align: center;
		  white-space: nowrap;
		  /* padding: 0px 10px; */
	  }
	  
	  .___3101 {
		width: 68px;
		overflow: visible;
		text-align: center;
		  white-space: nowrap;
		  /* padding: 0px 10px; */
	  }

	  .___3102 {
		width: 68px;
		overflow: visible;
		text-align: center;
		  white-space: nowrap;
		  /* padding: 0px 10px; */
	  }
	
	  .___3103 {
		width: 68px;
		overflow: visible;
		text-align: center;
		  white-space: nowrap;
		  /* padding: 0px 10px; */
	  }

	  .tdHidden_2{
		display: none;
	}
  
	.tdHidden {
	  display: none;
	}

	.BITMEX01 {
		overflow: visible;
		float: left;
		font-family: 'Nanum Gothic', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		color: rgba(112,112,112,1);
	}
	
	.ID6XMA_ALT_V01_____ {
		overflow: visible;
		float: left;
		font-family: 'Nanum Gothic', sans-serif;
		font-style: normal;
		font-size: 12px;
		color: rgba(112,112,112,1);
		white-space: nowrap;
	}
	
	.ID6 {
		overflow: visible;
		float: right;
		font-family: 'Nanum Gothic', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		color: rgba(112,112,112,1);
	}
	
	.ID302 {
		overflow: visible;
		float: right;
		font-family: 'Nanum Gothic', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		color: rgba(112,112,112,1);
	}
	.margin{
		width: 30px;
	}
	.ID95_ {
		overflow: visible;
		float: left;
		font-family: 'Nanum Gothic', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		color: rgba(112,112,112,1);
	}
	.ID95_2 {
		overflow: visible;
		float: left;
		font-family: 'Nanum Gothic', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		color: rgba(112,112,112,1);
	}
	.leverage{
		width: 30px;
	}
	.ID2X {
		overflow: visible;
		float: right;
		font-family: 'Nanum Gothic', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		color: rgba(112,112,112,1);
	}
	
	.ID1_31862731 {
		overflow: visible;
		float: left;
		font-family: 'Nanum Gothic', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		color: rgba(112,112,112,1);
	}
	
	._21_917 {
		overflow: visible;
		float: right;
		font-family: 'Nanum Gothic', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		color: rgba(112,112,112,1);
	}
	
	._2_5102 {
		overflow: visible;
		float: right;
		font-family: 'Nanum Gothic', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		color: rgba(112,112,112,1);
	}
	
	.ID8_736_0 {
		overflow: visible;
		float: left;
		font-family: 'Nanum Gothic', sans-serif;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		color: rgb(41, 41, 41);
	}

	.position {
		overflow: visible;
		float: right;
		font-family: 'Nanum Gothic', sans-serif;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		color: rgb(41, 41, 41);
	}
	
	.ID1 {
		overflow: visible;
		
		float: right;
		font-family: 'Nanum Gothic', sans-serif;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		color: rgb(41, 41, 41);
	}
	
	.ID0_0018_0_07__ {
		overflow: visible;
		
		float: right;
		font-family: 'Nanum Gothic', sans-serif;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		color: rgb(41, 41, 41);
	}
	.positionTitleButton_1, .positionTitleButton_2{
		float: right;
		margin: 14px 6px 14px 6px;
		padding: 5px;
		width: 74px;
		height: 30px;
		background-color: rgb(187, 187, 187);
		text-align: center;
		border-radius: 5px;
		color: white;
		text-decoration: none;
		font-size: 12px;
	}
}

@media screen and (max-width: 500px) {
	.bitmexTitle {
          display: block;
	}
	.positionTitleButton_1, .positionTitleButton_2 {
	      float: left;
	}

}

@media screen and (max-width: 375px) {
	.section-62 {
	  margin-top: 40px;
	  margin-left: 10px;
	  margin-right: 10px;
	}
	td{
		width: 60px;
	}
	.positionTitleButton_1, .positionTitleButton_2{
		margin: 14px 6px 14px 6px;
		padding: 4px;
		width: 60px;
		height: 28px;
		background-color: rgb(187, 187, 187);
		text-align: center;
		border-radius: 5px;
		color: white;
		text-decoration: none;
		font-size: 12px;
	}
}

@media screen and (max-width: 320px) {
	.___3098 {
		width: 50px;
		overflow: visible;
		text-align: center;
		white-space: nowrap;
	  }
	  .___3099 {
		width: 50px;
		overflow: visible;
		text-align: center;
		  white-space: nowrap;
	  }
	  .___3100 {
		width: 50px;
		overflow: visible;
		text-align: center;
		  white-space: nowrap;
	  }
	  .___3101 {
		width: 50px;
		overflow: visible;
		text-align: center;
		  white-space: nowrap;
	  }

	  .___3102 {
		width: 50px;
		overflow: visible;
		text-align: center;
		  white-space: nowrap;
	  }

	  .___3103 {
		width: 50px;
		overflow: visible;
		text-align: center;
		  white-space: nowrap;
	  }
}

/* button */
#____1_A63_Rectangle_7 {
	opacity: 0.7;
}
.____1_A63_Rectangle_7 {
	/* filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161)); */
	overflow: visible;
	background-color: rgba(255,255,255,1);
	border: 1px solid rgba(181,53,53,1);
	color: rgba(181,53,53,1);
	border-radius: 5px;
	font-size: 12px;
	padding: 5px 14px 5px 14px;
	text-decoration: none;
}

#____1_A63_Rectangle_6 {
	opacity: 0.5;
}
.____1_A63_Rectangle_6 {
	/* filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161)); */
	overflow: visible;
	background-color: rgba(255,255,255,1);
	border: 1px solid rgba(88,125,201,1);
	color: rgba(88,125,201,1);
	border-radius: 5px;
	font-size: 12px;
	padding: 5px 14px 5px 14px;
	text-decoration: none;
}

#____1_A63_Rectangle_8 {
	opacity: 0.7;
}
.____1_A63_Rectangle_8 {
	/* filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161)); */
	overflow: visible;
	background-color: rgba(190,95,0,1);
	color: white;
	border-radius: 5px;
	font-size: 12px;
	padding: 6px 15px 6px 15px;
	text-decoration: none;
}
#____1_A63_Rectangle_5 {
	opacity: 0.7;
}
.____1_A63_Rectangle_5 {
	/* filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161)); */
	overflow: visible;
	background-color: rgb(187, 187, 187);
	color: white;
	border-radius: 5px;
	font-size: 12px;
	padding: 6px 15px 6px 15px;
	text-decoration: none;
}

#____1_A63_Rectangle_4 {
	opacity: 0.7;
}
.____1_A63_Rectangle_4 {
	/* filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161)); */
	overflow: visible;
	background-color: rgb(187, 187, 187);
	color: white;
	border-radius: 5px;
	font-size: 12px;
	padding: 6px 11px 6px 11px;
	text-decoration: none;
}

@media screen and (max-width: 570px) {
  td {
	width: 68px;
    padding: 4px 3px 4px 3px;
    border-bottom: 1px solid rgba(243, 243, 243, 0.541); 
  }

  /* button */
#____1_A63_Rectangle_7 {
	opacity: 0.7;
}
.____1_A63_Rectangle_7 {
	/* filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161)); */
	overflow: visible;
	background-color: rgba(255,255,255,1);
	border: 1px solid rgba(181,53,53,1);
	color: rgba(181,53,53,1);
	border-radius: 5px;
	font-size: 12px;
	padding: 3px 9px;
	text-decoration: none;
}

#____1_A63_Rectangle_6 {
	opacity: 0.5;
}
.____1_A63_Rectangle_6 {
	/* filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161)); */
	overflow: visible;
	background-color: rgba(255,255,255,1);
	border: 1px solid rgba(88,125,201,1);
	color: rgba(88,125,201,1);
	border-radius: 5px;
	font-size: 12px;
	padding: 3px 9px;
	text-decoration: none;
}

#____1_A63_Rectangle_8 {
	opacity: 0.7;
}
.____1_A63_Rectangle_8 {
	/* filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161)); */
	overflow: visible;
	background-color: rgba(190,95,0,1);
	color: white;
	border-radius: 5px;
	font-size: 12px;
	padding: 4px 10px;
	text-decoration: none;
}

#____1_A63_Rectangle_5 {
	opacity: 0.7;
}
.____1_A63_Rectangle_5 {
	/* filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161)); */
	overflow: visible;
	background-color: rgb(187, 187, 187);
	color: white;
	border-radius: 5px;
	font-size: 12px;
	padding: 4px 10px;
	text-decoration: none;
}

#____1_A63_Rectangle_4 {
	opacity: 0.7;
}
.____1_A63_Rectangle_4 {
	/* filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161)); */
	overflow: visible;
	background-color: rgb(187, 187, 187);
	color: white;
	border-radius: 5px;
	font-size: 12px;
	padding: 4px 5px;
	text-decoration: none;
}

#ID6XMA_ALT_V01_____ {
	overflow: visible;
	text-align: left;
	font-family: 'Nanum Gothic', sans-serif;
	font-style: normal;
	font-size: 14px;
	color: rgba(112,112,112,1);
	white-space: nowrap;
}

}

@media screen and (max-width: 365px) {
	td {
	  width: 50px;
	  padding: 4px 3px 4px 3px;
	  border-bottom: 1px solid rgba(243, 243, 243, 0.541); 
	}
  
	/* button */
  #____1_A63_Rectangle_7 {
	  opacity: 0.7;
  }
  .____1_A63_Rectangle_7 {
	  /* filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161)); */
	  overflow: visible;
	  background-color: rgba(255,255,255,1);
	  border: 1px solid rgba(181,53,53,1);
	  color: rgba(181,53,53,1);
	  border-radius: 5px;
	  font-size: 12px;
	  padding: 3px 7px;
	  text-decoration: none;
  }
  
  #____1_A63_Rectangle_6 {
	  opacity: 0.5;
  }
  .____1_A63_Rectangle_6 {
	  /* filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161)); */
	  overflow: visible;
	  background-color: rgba(255,255,255,1);
	  border: 1px solid rgba(88,125,201,1);
	  color: rgba(88,125,201,1);
	  border-radius: 5px;
	  font-size: 12px;
	  padding: 3px 7px;
	  text-decoration: none;
  }
  
  #____1_A63_Rectangle_8 {
	  opacity: 0.7;
  }
  .____1_A63_Rectangle_8 {
	  /* filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161)); */
	  overflow: visible;
	  background-color: rgba(190,95,0,1);
	  color: white;
	  border-radius: 5px;
	  font-size: 12px;
	  padding: 4px 8px;
	  text-decoration: none;
  }
  
  #____1_A63_Rectangle_5 {
	  opacity: 0.7;
  }
  .____1_A63_Rectangle_5 {
	  /* filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161)); */
	  overflow: visible;
	  background-color: rgb(187, 187, 187);
	  color: white;
	  border-radius: 5px;
	  font-size: 12px;
	  padding: 4px 8px;
	  text-decoration: none;
  }
  
  #____1_A63_Rectangle_4 {
	  opacity: 0.7;
  }
  .____1_A63_Rectangle_4 {
	  /* filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161)); */
	  overflow: visible;
	  background-color: rgb(187, 187, 187);
	  color: white;
	  border-radius: 5px;
	  font-size: 12px;
	  padding: 4px 5px;
	  text-decoration: none;
  }
  
  #ID6XMA_ALT_V01_____ {
	  overflow: visible;
	  text-align: left;
	  font-family: 'Nanum Gothic', sans-serif;
	  font-style: normal;
	  font-size: 14px;
	  color: rgba(112,112,112,1);
	  white-space: nowrap;
  }
  
  }


@media screen and (max-width: 330px){
	td {
		width: 50px;
		padding: 5px 2px 5px 4px;
	}
}

@media screen and (max-width: 320px){
	td {
		width: 50px;
		padding: 6px 0px 6px 0px;
	}
}
